In [2]:
import json
from datetime import datetime, timedelta
import random
from datetime import date
from bson.objectid import ObjectId
import calendar
from utils import get_points,gen_start_end_date,get_project_shifts
from flask_mail import Mail, Message

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://dbChirag:dbChirag123@swatiprodcluster0.bmxsv.mongodb.net/swatiinteriors")
client

MongoClient(host=['swatiprodcluster0-shard-00-00.bmxsv.mongodb.net:27017', 'swatiprodcluster0-shard-00-01.bmxsv.mongodb.net:27017', 'swatiprodcluster0-shard-00-02.bmxsv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-xhd62v-shard-0', ssl=True)

In [4]:
# change this
db = client['swatiinteriors']
LOGS = db['logs']
projects = db['projects']
users = db['users']
attendances = db['attendances']
indents = db['indents']
indent_items = db['indent_items']
salaries = db['salaries']
employee_roles = db['employee_roles']
imeis = db['imeis']

In [8]:


def get_daily_footfall(user_site_preferences):
    today_date = datetime.strptime(datetime.today().strftime('%Y-%m-%d'), '%Y-%m-%d')
    user_site_preferences = ['INDIABULLS BLU-PENT HOUSE', 'DLF LIMITED']
    total_footfall_query = [{'$match': {'date': today_date,'site_name':{'$in':user_site_preferences}}},
                                {"$group": {'_id': '$site_name',
                                            'total_worker_footfall': {'$sum': 1},
                                            }}]

    total_footfall_project_wise_data = attendances.aggregate(total_footfall_query)
    return list(total_footfall_project_wise_data)



get_daily_footfall(['DLF LIMITED','INDIABULLS BLU-PENT HOUSE'])

[{'_id': 'INDIABULLS BLU-PENT HOUSE', 'total_worker_footfall': 5},
 {'_id': 'DLF LIMITED', 'total_worker_footfall': 66}]

In [6]:
month, year = 4,2021
start_date = str(year)+"-"+str(month)+"-01"
end_date = str(year)+"-"+str(month)+"-" + str(calendar.monthrange(year, month)[1])
today = date.today()
start_date = datetime.strptime(start_date, '%Y-%m-%d')
end_date = datetime.strptime(end_date, '%Y-%m-%d')

total_footfall_query = [{'$match': {'date': {"$gte": start_date, "$lte": end_date}}},
                            {"$group": {'_id': '$site_name',
                                        'total_worker_footfall': {'$sum': 1},
                                        }
                             }
                            ]

total_footfall_project_wise_data = attendances.aggregate(total_footfall_query)
data = list(total_footfall_project_wise_data)
data

[{'_id': 'INDIABULLS BLU-PENT HOUSE', 'total_worker_footfall': 445},
 {'_id': 'JWC RETAIL', 'total_worker_footfall': 483},
 {'_id': 'SWATI INTERIORS', 'total_worker_footfall': 191},
 {'_id': 'MAKER CHAMBER', 'total_worker_footfall': 3},
 {'_id': 'GODREJ TWO', 'total_worker_footfall': 1},
 {'_id': 'KARUNA SINDHU', 'total_worker_footfall': 424},
 {'_id': 'INDIABULLS 20TH FLOOR', 'total_worker_footfall': 556},
 {'_id': 'DLF LIMITED', 'total_worker_footfall': 3372},
 {'_id': 'HYDE PARK', 'total_worker_footfall': 507},
 {'_id': 'SWATI INTERIOR CONCEPTS PVT. LTD.', 'total_worker_footfall': 1448},
 {'_id': 'INDIABULLS 44 & 45 floor', 'total_worker_footfall': 92}]

In [67]:



def convert_to_HTML_table(data,column_names):

    headers,table_body = "",""

    for i in range(len(column_names)):
        column_header = "<th>{}</th>".format(column_names[i])
        headers = headers + column_header
        headers_element = "<tr>"+str(headers)+"</tr>"


    for d in data:
        parent_row = ""

        for i in d.keys():
            parent_row = parent_row + "<td>"+str(d[i])+"</td>"
        table_body = table_body + "<tr>"+ parent_row + "</tr>"

    table_HTML = "<table>"+headers_element + table_body+"</table>"

    return table_HTML

    
    
convert_to_HTML_table(data,column_names=["SITE","FOOTFALL"])

'<table><tr><th>SITE</th><th>FOOTFALL</th></tr><tr><td>INDIABULLS BLU-PENT HOUSE</td><td>445</td></tr><tr><td>JWC RETAIL</td><td>483</td></tr><tr><td>SWATI INTERIORS</td><td>191</td></tr><tr><td>MAKER CHAMBER</td><td>3</td></tr><tr><td>GODREJ TWO</td><td>1</td></tr><tr><td>KARUNA SINDHU</td><td>424</td></tr><tr><td>INDIABULLS 20TH FLOOR</td><td>556</td></tr><tr><td>DLF LIMITED</td><td>3372</td></tr><tr><td>HYDE PARK</td><td>507</td></tr><tr><td>SWATI INTERIOR CONCEPTS PVT. LTD.</td><td>1448</td></tr><tr><td>INDIABULLS 44 & 45 floor</td><td>92</td></tr></table>'

In [66]:

table_body = "" 

for d in data:
    parent_row = ""

    for i in d.keys():
        parent_row = parent_row + "<td>"+str(d[i])+"</td>"
    table_body = table_body + "<tr>"+ parent_row + "</tr>"

table_body

'<tr><td>INDIABULLS BLU-PENT HOUSE</td><td>445</td></tr><tr><td>JWC RETAIL</td><td>483</td></tr><tr><td>SWATI INTERIORS</td><td>191</td></tr><tr><td>MAKER CHAMBER</td><td>3</td></tr><tr><td>GODREJ TWO</td><td>1</td></tr><tr><td>KARUNA SINDHU</td><td>424</td></tr><tr><td>INDIABULLS 20TH FLOOR</td><td>556</td></tr><tr><td>DLF LIMITED</td><td>3372</td></tr><tr><td>HYDE PARK</td><td>507</td></tr><tr><td>SWATI INTERIOR CONCEPTS PVT. LTD.</td><td>1448</td></tr><tr><td>INDIABULLS 44 & 45 floor</td><td>92</td></tr>'

In [14]:
for d in data:
    print(type(d['total_worker_footfall']))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [18]:
ids = tuple([d['_id'] for d in data])
footfalls = [d['total_worker_footfall'] for d in data]

In [19]:
import pygal


# First import pygal
bar_chart = pygal.Bar()
bar_chart.x_labels = ids
bar_chart.add('worker footfall ', footfalls)  
bar_chart.render_to_png('chart.png')